/* Home page */
.home-content{
    position: relative;
}

.homedown{
    background-image: url(../assets/desktop/bgweb.png);
    position: relative;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeup{
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.044), rgba(0, 0, 0, 0.565)), /*top, bottom (gradient overlay)*/
        url(../assets/desktop/home/homebg.png);
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2 /* - < z < + (semakin negatif = layer blkg)*/    
}

.homeup-content{
    padding: 100px 0px 100px 0px; /*top, right, bottom, left*/
    text-align: center;
    margin: 0 auto; /*top&bottom, left&right*/
    max-width: 1440px; /*apply max-width supaya content di tengah*/
}

.homedown-content{
    padding: 150px 75px 100px 75px;
    text-align: center;
    margin: 0 auto; 
    max-width: 1440px; 
}

.bg-home{
    position: relative;
    width: 100%;
    height: 100vh;
}

.homecard{
    position: absolute;
    /* supaya di tengah all taruh 0 */
    top: 20px;
    bottom: 0;
    right: 0; 
    left: 0;
    margin: 0 auto; 
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 1); /*white with opacity*/
    border-radius: 30px;
    padding: 20px; /*top, right, bottom, left*/
}

.w-98{
    width: 98%;
}

.h-60{
    height: 60%;
}

.h-full{
    height: 100%;
}

.object-fit{
    object-fit: cover;
}

.homeup-text{
    color: #213b6A;
}

.h-40{
    height: 40px;
}

.h-25{
    height: 25px;
}

.homeup-text h2{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 20px;
}

.home-p{
    margin-top: 30px;
}

.home-text p{
    font-size: 12px;
    /* margin-bottom: 30px; */
    color: #213b6A;
}

.center-button{
    display: flex;
    justify-content: center;
}

.grad1-btn{
    gap: 10px;
    padding: 5px 20px;
    background: linear-gradient(45deg, #01A9F2, #00E2E0);
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: inline-flex;
    margin-top: 15px;
}

.grad1-btn img{
    width: 16px;
    height: auto;
}

.mx-w-1000{
    max-width: 1000px;

}

.align-left{
    text-align: left;
}

.explore h3 {
    font-size: 36px;
    padding-top: 4px;
}

.cursor-pointer{
    cursor: pointer;
}

.w-7-10{
    width: 70%;
}

.w-3-10{
    width: 30%;
}

.h-3-10{
    height: 30%;
}

.h-7-10{
    height: 70%;
}

.h-5-10-card{
    height: 50%;
}

.card-bg {
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    width: 33.3%;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* default no shadow */
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: #91f9ff 0px 0px 10px 0px;
}


.card-bg:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px #6ac0c4; /* efek naik */
}

.card-bg:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); /* efek naik */
}


.home-cards{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.object-contains{
    object-fit: cover;
}

.h-70{
    height: 70%;
}

.h-50-card{
    height: 50%;
}

.card-content h3{
    color:#213b6A;
    font-size: 30px;
}

.card-content p{
    color:#213b6A;
    font-size: 12px;
}

.mt-4{
    margin: 3vh 2vh 4vh 2vh;
}

.rounded-16{
    border-radius: 16px;
}

.wrapping-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input{
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 30px;
    border: none;
    background-color: #F2F2F2;
    font-size: 14px;
}

.search-btn{
    background: linear-gradient(45deg, #01A9F2, #00E2E0);
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.search-btn:hover{
    background: linear-gradient(45deg, #057eb1, #02c5c3);
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.my-30{
    margin: 30px 0;
}

.gap-20{
    gap: 40px;
}

.h-10-card{
    height: 200px;
    width: 100%;
}

/* Gallery */
.gallery{
    background-image: url(../assets/desktop/gallery/gallerybg.png);
    position: relative;
    width: 100vw;
    height: 315vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vh 0;
}

/* container = wrapping */
.gallery-section{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    background: white;
}

.gallery-wrapping{
    margin: 0 auto;

}

.gallery-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c1-gallery{
    color: #213b6A;
    font-size: 28px;
    width: 35%;
}

.c2-gallery{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto 0;
}

.c2-gallery-opt{
    margin: auto 0;
}

.c2-gallery-opt-ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: auto 0;
}

.c2-gallery-opt-ul-btn{
    margin: auto 0;
    background-color: #213b6A;
    color: white;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.c2-gallery-opt-ul-btn-active{
    margin: auto 0;
    background-color: #FFFFFF;
    color: #213b6A;
    padding: 6px 14px;
    font-weight: 600;
    border: 1px solid #6ac0c4;
    transition: 0.3s;
    border-radius: 20px;
}

.yacht-ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /*overflow-x: scroll;*/
    margin: 20px 0;
}

.w-33{
    width: 33%;
}

.w-33-yacht{
    width: 33%;
}

.card-yacht{
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    width: 100%;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: #e1e1e1 0px 0px 10px 0px;
}

.yacht-container{
    width: 100%;
    display: block;
}

.yacht-img-container{
    height: 200px;
    width: 100%;
    position: relative;
}

.yacht-img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.yacht-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.yacht-shadow-container{
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #f2f2f2;
    height: 40px;
}

.yacht-shadow-container-ul{
    list-style-type: none;
    display: flex;
    margin: 5px 0;
    gap: 3px;
}

.yacht-shadow-container-li{
    display: flex;
    gap: 5px;
    margin: auto 0;
}

.yacht-icon{
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.p-card{
    color: #9da2ac;
    font-size: 12px;
    font-weight: 600;
    margin: auto 0;
}

.relative{
    position: relative;
}

.absolute-yacht{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.h3-card{
    font-size: 20px;
    color: #213b6A;
    font-weight: 600;
}

.star{
    height: 18px;
    width: 18px;
    object-fit: cover;
    margin: 4px 0 0 0;
}

.gap-5{
    gap: 5px;
}

.about-ship{
    color: #213b6A;
    font-size: 16px;
}

.p-ship{
    color: #213b6A;
    font-size: 12px;
}

.hr-card{
    color: rgb(160, 160, 160);
    margin: 20px 0;
    height: 1px;
    width: 100%;
}

.price-ship{
    color: #213b6A;
    font-size: 16px;
    font-weight: 600;
}

.seemore-btn{
    background: linear-gradient(45deg, #01A9F2, #00E2E0);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.mx-6{
    margin: 0 6px;
}

.py-2{
    padding: 2vh 0;
}

.yacht-title h2{
    color: #213b6A;
}

/* services */
.services-bg{
    background-image: url(../assets/desktop/services/servicesbg.png);
    width: 100vw;
    height: 170vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vh 0;   
}

.services-section{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    background: white;
}

.services-wrapping{
    margin: 0 auto;

}

.services-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c1-services{
    color: #213b6A;
    font-size: 28px;
    width: 35%;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.c2-services{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.gap-1{
    gap: 1px;
}

.s-card{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    width: 100%;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: #e1e1e1 0px 0px 10px 0px;
}

.s-icon{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: flex;
}

.h2-service{
    color: #213b6A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
}

.p-service{
    color: #213b6A;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.s-card-margin{
    margin: 0 8px 0 8px;
    width: 100%;
    padding: 20px;
}

.mb-5{
    margin-bottom: 5px;
}

.left-service{
    width: 50%;
    padding: 10px 20px;
}

.right-service{
    width: 50%;
    padding: 10px 20px;
}

.h2-service-bwh{
    color: #213b6A;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.s-left-card{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    width: 100%;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: #e1e1e1 0px 0px 10px 0px;
}

.s-left-card-margin{
    margin: 0 8px 0 8px;
    width: 100%;
    padding: 20px;
    display: flex;
}

.s-li-left{
    color: #213b6A;
    font-size: 14px;
}

.mt-60{
    margin-top: 60px;
}

.syacht-img{
    height: 75%;
    width: 75%;
    margin: 5px 5px;
    border-radius: 8px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.w-50{
    width: 50%;
}

.p-s-bwh{
    color: #213b6A;
    font-size: 14px;
}

.h2-service-bwh-r{
    color: #213b6A;
    font-size: 24px;
    font-weight: 600;
}

.mb-50{
    margin-bottom: 50px;
}

.s-right-card{
    width: 100%;
    background-color: #213b6A;
    padding: 5px;
    border-radius: 16px;
    width: 90%;
}

.s-right-card-margin{
    margin: 0 8px 0 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.consult-img{
    height: auto;
    width: 85%;
    margin: 0 0 10px 0;
    border-radius: 8px;
}

.ml-20{
    margin-left: 20px;
}

.consult-btn{
    background: linear-gradient(45deg, #01A9F2, #00E2E0);
    color: white;
    padding: 4px 16px;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width: 90%;
}

/* about us */
.aboutus{
    background-image: url(../assets/desktop/gallery/gallerybg.png);
    position: relative;
    width: 100vw;
    min-width: 400px;
    /*height: 300vh;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10vh 0;
    max-width: 1300px;
    margin: 0 auto;
}


.aboutus-section{
    padding: 20px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
}

.aboutus-section-3{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

.aboutus-section2{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}


.aboutus-wrapping{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;

}


.aboutus-wrapping-3{
    margin: 0 auto;
    display: block;
    justify-content: center;
    gap: 40px;

}

.ship-img-kiri{
    display: flex;
    justify-content: center;
    margin: 4vh 4vh;
    height: auto;
    width: 50%;
}

.abt-text-wrap{
    margin: 4vh 0 0 2vh;
    width: 50%;
}

.h1-aboutus{
    color: #213b6A;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0;
}

.p-aboutus{
    color: #213b6A;
    font-size: 16px;
    margin-top: 10px;
}

.text-margin{
    margin: 0 20px;
    padding: 10px;
}

.mt-10{
    margin-top: 10px;
}

.aboutus-img{
    height: 100%;
    width: 100%;

}

.yacht-ul{
    list-style-type: none;
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    margin: 20px 0;
}

.misi-txt{
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.cards-misi{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
}

.misi1-2{
    height: 50%;
    display: flex;
    gap: 15px;
    margin: 0 0 15px 0;
}

.cardabt{
    width: 50%;
    height: 100%;
    display: block;
}

.ml-10{
    margin-left: 10px;
}

.gap-40{
    gap: 40px;
}

.mr-110{
    margin-right: 110px;
}

.gap-15{
    gap: 15px;
}

.p-aboutus-visi{
    color: #213b6A;
    font-size: 14px;
    margin: 30px;
    text-align: center;
}

.flex-column{
    flex-direction: column;
}

.margin-card{
    margin: 20px 20px;
}

.h-50{
    height: 50%;
}

.card-visi {
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    width: 500px;
    box-shadow: #91f9ff 0px 0px 10px 0px;
    justify-content: center;
}

.mt-30{
    margin-top: 30px;
}

.h1-aboutus-a{
    color: #213b6A;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.0;
    text-align: center;
    margin: 75px 0 0 0;
}

.h5-achieve{
    color: #213b6A;
    font-size: 16px;
}

.align-center{
    align-items: center;
}

.card-a{
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    width: 100%;
    box-shadow: #91f9ff 0px 0px 10px 0px;
}

/* subscription */
.subs-bg{
    background-image: url(../assets/desktop/subscription/subsbg.webp);
    position: relative;
    width: 100vw;
    /*height: 100vh;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vh 0;
}

.subs-section{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding-bottom: 50px;
}

.subs-wrapping{
    margin: 0 auto;

}

.subs-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.h1-subs{
    color: #213b6A;
    font-size: 40px;
    width: 100%;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.subs-content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.subs-form-container{
    width: 50%;
    margin: 0 auto;
}

.subs-form{
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    width: 100%;
    box-shadow: #91f9ff 0px 0px 10px 0px;
}

.subs-header h1{
    color: #213b6A;
    font-size: 28px;
    font-weight: 600;
}

.subs-header{
    margin: 4vh 4vh;
    text-align: center;
}

.subs-container{
    width: 85%;
    margin: 0 auto;
}

.subs-form-box{
    gap: 10px;
    display: block;
}

.input-box label{
    font-size: 14px;
    font-weight: 600;
    color: rgb(80, 80, 80);
    margin: 4px 0;
}

.input-box{
    width: 100%;
    text-align: left;
}

.aboutus-body{
    min-width: 400px;
    max-width: 1300px;
    margin: 0 auto;
}

.input-container input{
    background-color: white;
    color: rgb(179, 179, 179);
    padding: 8px;
    width: 100%;
    border : 1px solid rgb(179, 179, 179);
    border-radius: 4px;    
    font-size: 15px;
    font-weight: 500;
}

.input-container textarea{
    background-color: white;
    color: rgb(104, 103, 103);
    padding: 8px;
    width: 100%;
    border : 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}


.error-validation{
    font-size:10px;
    margin: 1vh 0;
    color: red;
    font-weight: 500;
    text-align: left;
}

.input-radio{
    display: flex;
    gap: 10px;
    margin: 2vh 0;
}


.input-radio label{
    color: rgb(104, 103, 103);
    font-size: 12px;
    font-weight: 500;
}


.subs-btn{
    background: linear-gradient(45deg, #01A9F2, #00E2E0);
    color: white;
    padding: 10px 16px;
    width: 100%;
    border: none;
    margin: 4vh 0 4vh;
    border-radius: 16px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.join-shipdeck-container{
    width: 45%;
    height: auto;
    display: block;
    margin: 0 0 0 auto;
    background-color:#213b6A;
    border-radius: 8px;
}

.join-contain{
    width: 90%;
    margin: 30px 0 0 30px;
}

.join-header h1{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
}

.join-header p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.join-box{
    margin: 6vh 0;

}

.join-box-container h2{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
}

.join-ul{
    margin: 2vh 4vh;
    display: block;
    gap: 10px;
}

.join-ul li{
    font-size: 14px;
    color: #FFFFFF;
}

.error-active{
    display: block !important;
}

.error-inactive{
    display: none;
}

.mb-20{
    margin-bottom: 20px;
}

/* HP */
@media screen and (max-width: 756px){

    /* subscription */
    .subs-bg{
        background-image: url(../assets/desktop/subscription/subsbg.webp);
        position: relative;
        width: 100vw;
        /*height: 100vh;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15vh 0;
    }

    .subs-header{
        text-align: center;
        margin: 5vh 0;
        justify-content: space-around;
    }

    .subs-container{
        width: 90%;
        margin: 0 auto;
    }

    .subs-header h1{
        text-align: center;
    }


    .h1-subs{
        display: none;
    }

    .h1-subs{
        color: #213b6A;
        font-size: 40px;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .subs-content{
        display: block;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .subs-form-container{
        width: 100%;
        margin: 0 auto;
    }

    .join-shipdeck-container{
        width: 100%;
        height: 50%;
        display: block;
        margin: 0 0 0 auto;
        background-color:#213b6A;
        border-radius: 8px;
    }

    .subs-section{
        padding: 20px;
        width: 96%;
        margin: 0 auto;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        padding-bottom: 50px;
    }

    .join-shipdeck-container{
        width: 100%;
        height: 50%;
        display: block;
        background-color:#213b6A;
        margin: 4vh 0;
        border-radius: 8px;
        padding: 20px 0;
    }

    .subs-form-box{
        display: block; 
    }

    .input-box{
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .join-contain{
        width: 90%;
        margin: 5px 20px;
    }

    .join-header p{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
    }

    .join-ul li{
        font-size: 12px;
        color: #FFFFFF;
    }

    .abt-text-wrap{
        margin: 4vh 0 0 0;
    }

    .h1-aboutus{
        color: #213b6A;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.0;
    }

    .p-aboutus{
        color: #213b6A;
        font-size: 14px;
        margin-top: 10px;
    }

    .aboutus-section-3{
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        max-width: 1300px;
    }


    .aboutus-wrapping{
        margin: 0 auto;
        display: block;
        justify-content: center;
        gap: 40px;

    }


    .aboutus-wrapping-3{
        display: block;
        margin: 0;
        justify-content: center;

    }

    .ship-img-kiri{
        height: auto;
        width: 100%;
        margin: 0 25px 0 0;
    }

    .abt-text-wrap{
        margin: 4vh 0 0 0;
        width: 100%;
    }

    .misi-txt{
        margin-bottom: 30px;
        width: 100%;
        display: block;
    }


    .aboutus{
        background-image: url(../assets/desktop/gallery/gallerybg.png);
        position: relative;
        width: 100vw;
        min-width: 400px;
        /*height: 300vh;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10vh 0;
        max-width: 1300px;
        margin: 0 auto;
    }

    .cardabt{
        width: 90%;
        height: 100%;
        display: block;
        
    }

    .p-aboutus-visi{
        color: #213b6A;
        font-size: 14px;
        margin: 15px;
        text-align: center;
    }

    .aboutus-section2{
        display: block;
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        max-width: 1300px;
    }


    .cardabt{
        width: 100%;
        height: 100%;

    }

    .about-ul{
        width: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        list-style: none;
    }

    .w-about-li{
        width: 48%;
    }


    .card-visi {
        background-color: white;
        height: 140px;
        padding: 10px;
        overflow-y: scroll;
        border-radius: 16px;
        width: 100%;

        box-shadow: #91f9ff 0px 0px 10px 0px;
        justify-content: center;
    }


    .w-33-yacht{
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 756px) and (max-width: 1128px) {
    .join-contain{
        width: 90%;
        margin: 15px 25px;
    }

    .join-header p{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 12px;
    }

    .join-header h1{
        margin-top: 5vh;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 22px;
    }

    .join-box-container h2{
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 600;
    }

    .join-ul li{
        font-size: 12px;
        color: #FFFFFF;
    }

    .aboutus-section{
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        max-width: 1300px;
    }



    .aboutus-wrapping-3{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;

    }

    .abt-text-wrap{
        margin: 4vh 0 0 0;
        width: 50%;
    }

    .ship-img-kiri{
        display: flex;
        justify-content: center;
        margin: 4vh 2vh;
        height: auto;
        width: 50%;
    }

    .aboutus-section2{
        padding: 20px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .misi-txt{
        margin: 10px 0;
        width: 50%;
    }

    .cardabt{
        width: 50%;
        height: 100%;

    }

    .about-ul{
        width: 100%;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        list-style: none;
    }

    .w-about-li{
        width: 48%;
    }



    .card-visi {
        background-color: white;
        height: 180px;
        padding: 10px;
        border-radius: 16px;
        width: 100%;
        box-shadow: #91f9ff 0px 0px 10px 0px;
        justify-content: center;
    }


    .aboutus-wrapping-3{
        margin: 0 auto;
        display: block;
        justify-content: center;
        gap: 40px;

    }


    .yacht-ul{
        list-style-type: none;
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        margin: 20px 0;
    }

    .w-33-yacht{
        width: 32%;
    }
}