/* Home page */
.home-content{
    position: relative;
}

.homedown{
    background-image: url(../assets/desktop/bgweb.png);
    position: relative;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeup{
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.044), rgba(0, 0, 0, 0.565)), /*top, bottom (gradient overlay)*/
        url(../assets/desktop/home/homebg.png);
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2 /* - < z < + (semakin negatif = layer blkg)*/
         
}

.homeup-content{
    padding: 100px 0px 100px 0px; /*top, right, bottom, left*/
    text-align: center;
    margin: 0 auto; /*top&bottom, left&right*/
    max-width: 1440px; /*apply max-width supaya content di tengah*/
}

.homedown-content{
    padding: 150px 75px 100px 75px;
    text-align: center;
    margin: 0 auto; 
    max-width: 1440px; 
}

.bg-home{
    position: relative;
    width: 100%;
    height: 100vh;
}

.homecard{
    position: absolute;
    /* supaya di tengah all taruh 0 */
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    margin: 0 auto; 
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 1); /*white with opacity*/
    border-radius: 30px;
    padding: 20px; /*top, right, bottom, left*/
}

.w-98{
    width: 98%;
}

.h-60{
    height: 60%;
}

.h-full{
    height: 100%;
}

object-fit{
    object-fit: cover;
}

.homeup-text{
    color: #213b6A;
}

.h-40{
    height: 40px;
}

.h-25{
    height: 25px;
}

.homeup-text h2{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 20px;
}

.home-p{
    margin-top: 30px;
}

.home-text p{
    font-size: 12px;
    /* margin-bottom: 30px; */
    color: #213b6A;
}

.center-button{
    display: flex;
    justify-content: center;
}

.grad1-btn{
    gap: 10px;
    padding: 5px 20px;
    background: linear-gradient(45deg, #01A9F2, #00E2E0);
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: inline-flex;
    margin-top: 15px;
}

.grad1-btn img{
    width: 16px;
    height: auto;
}

.mx-w-1000{
    max-width: 1000px;

}

.align-left{
    text-align: left;
}

.explore h3 {
    font-size: 36px;
    padding-top: 4px;
}

.cursor-pointer{
    cursor: pointer;
}

.w-7-10{
    width: 70%;
}

.w-3-10{
    width: 30%;
}

.h-3-10{
    height: 30%;
}

.h-7-10{
    height: 70%;
}

.h-5-10-card{
    height: 50%;
}

.card-bg{
     background-color: white;
     padding: 10px;
     border-radius: 16px;
     width: 33.3%;
     transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
     box-shadow: #91f9ff 0px 0px 10px 0px;
}


.card-bg:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px #6ac0c4; /* efek naik */
}

.home-cards{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.object-contains{
    object-fit: cover;
}

.h-70{
    height: 70%;
}

.h-50-card{
    height: 50%;
}

.card-content h3{
    color:#213b6A;
    font-size: 30px;
}

.card-content p{
    color:#213b6A;
    font-size: 12px;
}

.mt-4{
    margin: 3vh 2vh 4vh 2vh;
}

.rounded-16{
    border-radius: 16px;
}

.wrapping-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input{
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 30px;
    border: none;
    background-color: #F2F2F2;
    font-size: 14px;
}

.search-btn{
    background: linear-gradient(45deg, #01A9F2, #00E2E0);
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.search-btn:hover{
    background: linear-gradient(45deg, #057eb1, #02c5c3);
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.my-30{
    margin: 30px 0;
}

.gap-20{
    gap: 40px;
}

.h-10-card{
    height: 200px;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .homeup-text h2 {
      font-size: 7.9vh;
    }
  
    .home-p p {
      font-size: 2vh;
    }
  
    .grad1-btn {
      font-size: 0.9rem;
      padding: 0.6rem 1.5rem;
    }
}
  
@media (max-width: 480px) {
    .homeup {
      text-align: left;
      align-items: flex-start;
      padding: 4rem 1rem;
    }
  
    .homeup-text h2 {
      font-size: 4vh;
    }
  
    .home-p p {
      font-size: 2vh;
    }
  
    .center-button {
      justify-content: flex-start;
    }
}